html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background: url(../../assets/img/bw-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-size: 16px;
}

.bg {
  content:'';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, rgb(31, 150, 254), rgb(77, 242, 75));
  opacity: .8;
}

::selection {
  color:rgba(255,255,255,1);
  background:rgba(57,61,66,.7);
}

::-moz-selection {
  color:rgba(255,255,255,1);
  background:rgba(57,61,66,.7);
}

.content {
  position:absolute;
  width:84%;
  height:50%;
  top:25%;
  padding: 0 8%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 2em;
}

.logo {
  height: 2.5em;
  width: 2.5em;
  outline: solid white 3px;
  outline-offset: 6px;
}

.title {
  margin-top: 30px;
  font-weight: 700;
  font-size: 2em;
  letter-spacing: 8px;
}

.tagline {
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: .6em;
  letter-spacing: 1.7px;
}

.date,
.location {
  font-weight: 400;
  font-size: .6em;
  letter-spacing: 1.7px;
  margin-top: 2px;
  text-transform: uppercase;
  display: inline-block;
}

.description {
  margin-top: 35px;
  font-weight: 400;
  font-size: .6em;
  letter-spacing: 1.7px;
  text-transform: uppercase;
}

hr
{
  border-top: 1px solid white;
  border-bottom: 0;
  max-width: 300px;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  body {
    background: none;
  }

  .bg {
    background-image: linear-gradient(to bottom right, #0099CC, #669900);
  }

  .content {
    top:18%;
    width: 90%;
    padding: 0 5%;
  }

  .title {
    font-size: 1em;
  }

  .tagline,
  .date,
  .location,
  .description {
    font-weight: 400;
    font-size: .45em;
  }
}
