$red: rgba(241,100,93,1);

$white: #ffffff;
$offwhite: #fffefa;
$grey: rgba(20,20,20,1);

$black: #0b3b4b;
$transparentwhite: rgba(250,250,250,0.5);

$pink: #fc5454;
$turquoise: #4ecdc4;
$yellow: #ffe86b;
$green: #c9d41b;
$orange: #ffbc29;


$montserrat: 'Montserrat', sans-serif;
$lato: 'Lato', sans-serif;

$keynote-img-dim: 160px;
$speaker-img-dim: 120px;