@font-face {
  font-family: 'xkcd';
  src: url("/assets/xkcd.otf");
  /* IE9 Compat Modes */ }
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  font-size: 0.9em; }
  html.foolsday *:not(.icon), body.foolsday *:not(.icon) {
    font-family: "Comic Sans MS", cursive, sans-serif !important; }
  html section, body section {
    width: 100%;
    position: relative; }
  html div, body div {
    position: relative; }

body {
  overflow-x: hidden; }

/*
 * shared classes
 */
.montserrat, .montserrat-bold {
  font-family: "Montserrat", sans-serif; }

.montserrat-bold {
  font-weight: 700; }

.lato {
  font-family: "Lato", sans-serif;
  font-weight: 300; }

.lato b {
  font-weight: 400; }

.hidden {
  display: none; }

.title {
  text-transform: uppercase; }

a {
  color: #fc5454; }

a:hover {
  color: #fc3b3b; }

.black-shadow {
  text-shadow: -2px 2px 0px #0b3b4b; }

/* Ben's stuff
 * temporarily
 */
section h2 {
  font-size: 3.5em;
  letter-spacing: 5px;
  line-height: 1.3em;
  margin: 0;
  color: #ffffff; }
section p,
section label,
section input {
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 0 auto;
  display: block; }
section p {
  margin-bottom: 1em; }
section .row {
  margin-top: 0; }
section img {
  max-width: 100%; }
section input {
  padding: 10px 2%;
  width: 80%; }
section input:focus {
  outline: 0; }
section .button {
  display: inline-block;
  margin: 15px auto 0px auto;
  background-color: #ffe86b;
  padding: 0.8em 3em;
  color: #f1645d;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1em;
  text-align: center;
  border: 0;
  cursor: pointer; }
section .button:hover {
  background-color: #4ecdc4;
  color: #ffffff; }

section.ui.page.grid {
  min-width: 0; }

section.ui.page.grid.padded {
  padding-top: 5%;
  padding-bottom: 5%; }

section#splash {
  display: table;
  table-layout: fixed;
  height: inherit;
  width: 100%;
  background: url(../assets/images/paper.jpg) no-repeat center center;
  background-size: cover; }
  section#splash div.splash-container {
    font-size: 1em;
    display: table-cell;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-bottom: 3.5em; }
    section#splash div.splash-container div.splash-banner {
      width: 100%;
      margin: 0 auto 0 auto; }
      section#splash div.splash-container div.splash-banner .splash-logo-unit-cont {
        z-index: 3;
        -webkit-transform: rotate(-20deg);
        /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
        -ms-transform: rotate(-20deg);
        /* IE 9 */
        transform: rotate(-20deg); }
      section#splash div.splash-container div.splash-banner .splash-col {
        float: left;
        width: 50%;
        height: 90vh; }
      section#splash div.splash-container div.splash-banner .splash-img {
        float: right;
        height: 90vh; }
      section#splash div.splash-container div.splash-banner .splash-title-cont {
        margin-top: 50vh;
        width: 50%;
        white-space: nowrap; }
      section#splash div.splash-container div.splash-banner img {
        max-width: 1000%;
        max-height: 1000%; }
      section#splash div.splash-container div.splash-banner .unselectable {
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        user-select: none; }
      section#splash div.splash-container div.splash-banner h1.title {
        margin: 0;
        letter-spacing: 8px;
        line-height: 1.2em;
        font-size: 3em;
        font-size: 5.5vw;
        color: #0b3b4b; }
      section#splash div.splash-container div.splash-banner h1.drag-target-H {
        margin: 0;
        position: absolute;
        top: 0px;
        left: 0px;
        letter-spacing: 8px;
        line-height: 1.2em;
        font-size: 3em;
        font-size: 5.5vw;
        visibility: hidden;
        color: #fc4f4f;
        z-index: 1; }
      section#splash div.splash-container div.splash-banner h1.drag-target-A {
        margin: 0;
        position: absolute;
        top: 0px;
        left: 0px;
        letter-spacing: 8px;
        line-height: 1.2em;
        font-size: 3em;
        font-size: 5.5vw;
        visibility: hidden;
        color: #4dcbc3;
        z-index: 1; }
      section#splash div.splash-container div.splash-banner h1.drag-target-C {
        margin: 0;
        position: absolute;
        top: 0px;
        left: 0px;
        letter-spacing: 8px;
        line-height: 1.2em;
        font-size: 3em;
        font-size: 5.5vw;
        visibility: hidden;
        color: #c6d118;
        z-index: 1; }
      section#splash div.splash-container div.splash-banner h1.drag-target-K {
        margin: 0;
        position: absolute;
        top: 0px;
        left: 0px;
        letter-spacing: 8px;
        line-height: 1.2em;
        font-size: 3em;
        font-size: 5.5vw;
        visibility: hidden;
        color: #FCE568;
        z-index: 1; }
      section#splash div.splash-container div.splash-banner h2.subtitle {
        margin: 0;
        line-height: 1.2em;
        letter-spacing: 0;
        font-size: 1.4em;
        color: #0b3b4b;
        margin-bottom: 1em; }
        section#splash div.splash-container div.splash-banner h2.subtitle.large {
          display: block; }
        section#splash div.splash-container div.splash-banner h2.subtitle.mobile {
          display: none; }
  section#splash div.splash-text {
    margin: 0 0 5px 0 !important;
    padding: 0 !important; }
    section#splash div.splash-text h2.title {
      line-height: 1.1em;
      font-size: 3em;
      font-size: 5.5vw;
      margin: 0;
      letter-spacing: 8px;
      color: #c9d41b; }
    section#splash div.splash-text h2.title:focus {
      outline: 0px solid transparent; }

#navbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 101; }
  #navbar .menu {
    background-color: #0b3b4b;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    border: 0;
    border-radius: 0;
    justify-content: center; }
    #navbar .menu .item {
      width: 8em;
      padding-top: 1.2em;
      border-bottom: 4px solid transparent;
      border-radius: 0;
      color: #ffffff;
      font-weight: bold;
      justify-content: center;
      text-transform: uppercase; }
      #navbar .menu .item.wide {
        width: 9em; }
    #navbar .menu #goto-about.item:hover {
      color: #ffffff;
      background: #0b3b4b;
      border-bottom: 3px solid #fc5454; }
    #navbar .menu #goto-faq.item:hover {
      color: #ffffff;
      background: #0b3b4b;
      border-bottom: 3px solid #4ecdc4; }
    #navbar .menu #goto-reg-now.item:hover {
      color: #ffffff;
      background: #0b3b4b;
      border-bottom: 3px solid #ffe86b; }

#navbar.fixed {
  position: fixed;
  top: 0;
  bottom: auto;
  z-index: 5; }

section#speakers {
  background-color: #ffbc29;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px; }
  section#speakers .speaker-name {
    font-size: 1.2em; }
  section#speakers .bio-pic {
    width: 160px;
    height: 160px;
    border-radius: 80px; }
  section#speakers .row {
    padding: 1.5em 0;
    background-color: #ffca57; }
  section#speakers .first-bio {
    border-radius: 4px 4px 0 0; }
  section#speakers .second-bio {
    border-radius: 0 0 4px 4px; }
  section#speakers img {
    width: 160px; }
  section#speakers p {
    color: #0b3b4b;
    font-size: 1.1em;
    padding: 16px;
    margin: 0; }

img#techx {
  width: 100px; }

section#about {
  background: #fc5454;
  min-height: 240px;
  color: #ffffff;
  z-index: 4; }
  section#about .ui.page.grid.padded {
    padding-bottom: 5%; }
  section#about h2 {
    text-align: left; }
  section#about p.lato {
    text-align: left;
    font-size: 1.2em; }

#social a {
  text-decoration: none;
  color: #0b3b4b;
  text-align: center;
  margin: 0;
  padding-left: 5px; }
#social a:hover {
  color: #0b3b4b; }
#social .icon {
  font-size: 2em;
  text-align: center;
  margin: 0.8em 0.6em;
  opacity: 0.75; }
#social .icon:hover {
  text-shadow: 0 0 3px #4ecdc4;
  cursor: pointer; }
#social a.social {
  color: #0b3b4b;
  text-decoration: none; }

#license {
  font-size: 0.5em; }

section#schedule {
  background: #c9d41b;
  min-height: 80px;
  color: #ffffff; }
  section#schedule .schedule.grid {
    margin-top: 20px; }

section#faq {
  background: #4ecdc4;
  z-index: 4; }
  section#faq .column {
    text-align: left;
    margin-bottom: 1.5em; }
  section#faq .row {
    margin: 0 auto;
    border-radius: 4px;
    background-color: #72d7d0;
    padding-bottom: 1rem; }
  section#faq h2 {
    text-align: left;
    margin-bottom: 1em; }
  section#faq h2.large {
    display: block; }
  section#faq h2.mobile {
    display: none; }
  section#faq .question {
    color: #0b3b4b;
    font-size: 1.5em; }
  section#faq p.answer {
    color: #0b3b4b;
    font-size: 1.2em; }

section#reg-now {
  background: #ffe86b;
  min-height: 240px;
  color: #0b3b4b;
  z-index: 4; }
  section#reg-now p.lato {
    font-size: 1.3em; }
  section#reg-now .ui.button {
    background-color: #0b3b4b;
    color: #ffffff;
    width: auto; }
  section#reg-now .ui.button:hover {
    background-color: #0e4c61; }
  section#reg-now .ui.button:active {
    background-color: #082a35; }
  section#reg-now .ui.page.grid.padded {
    padding-bottom: 5%; }
  section#reg-now .reg-now-form-cont {
    background-color: #c9d41b;
    padding: 2em 2em !important;
    border-radius: 4px; }
    section#reg-now .reg-now-form-cont .reg-blurb {
      padding: 20px 40px; }
    section#reg-now .reg-now-form-cont .reg-now-form {
      margin-top: 0; }

section#sponsors {
  background-color: #ffffff;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px; }
  section#sponsors .sponsors {
    background-color: #ffffff; }
  section#sponsors p {
    color: #0b3b4b;
    font-size: 1.4em;
    padding: 16px;
    margin: 0; }
  section#sponsors img {
    opacity: 0.75;
    padding: 1.5em;
    vertical-align: middle; }
  section#sponsors .tier {
    padding: 0 5%; }
  section#sponsors a, section#sponsors a:visited {
    text-decoration: none; }
  section#sponsors img:hover {
    opacity: 1; }
  section#sponsors .super-plat img {
    max-width: 400px;
    max-height: 150px; }
  section#sponsors .plat img {
    max-width: 350px;
    max-height: 200px; }
  section#sponsors .gold img {
    max-width: 250px;
    max-height: 125px; }
  section#sponsors .silver img {
    max-width: 150px;
    max-height: 100px; }
  section#sponsors .bronze img {
    max-width: 125px;
    max-height: 75px; }

#footer {
  background: #fffefa;
  text-align: center;
  padding-top: 5%;
  z-index: 4; }
  #footer #footersplash {
    max-width: 300px;
    width: 60%;
    margin: 0 auto; }
    #footer #footersplash h2 {
      color: #0b3b4b;
      text-transform: uppercase; }
  #footer #color-bars {
    padding-top: 2em; }
    #footer #color-bars div {
      width: 20%;
      float: left;
      height: 3em; }
    #footer #color-bars #color-bar1 {
      background-color: #fc5454; }
    #footer #color-bars #color-bar2 {
      background-color: #4ecdc4; }
    #footer #color-bars #color-bar3 {
      background-color: #ffe86b; }
    #footer #color-bars #color-bar4 {
      background-color: #c9d41b; }
    #footer #color-bars #color-bar5 {
      background-color: #ffbc29; }

/* hiding faq */
.angle {
  display: none;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.angle-rotated {
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.answer-hidden {
  display: none; }

.question-hidden {
  margin: 0; }

#dot {
  transition: color 0.5s ease; }
  #dot:hover {
    color: #ffe86b;
    cursor: pointer; }

/* Responsive */
@media only screen and (max-width: 1000px) {
  section#about h2 {
    font-size: 3em; }

  section#faq h2.large {
    display: none; }
  section#faq h2.mobile {
    display: block; } }
@media only screen and (max-width: 767px) {
  html, body {
    font-size: 1em; }

  #navbar .menu .item {
    width: 7em;
    padding-left: 0.4em;
    padding-right: 0.4em; }

  section#splash div.splash-container {
    display: block; }
    section#splash div.splash-container div.splash-banner {
      width: 100%;
      margin-top: 2em; }
      section#splash div.splash-container div.splash-banner .splash-logo-unit-cont {
        -webkit-transform: rotate(0deg);
        /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        text-align: center; }
      section#splash div.splash-container div.splash-banner .splash-img {
        height: 25em;
        float: none; }
      section#splash div.splash-container div.splash-banner .splash-col {
        float: none;
        width: 100%;
        display: block;
        text-align: center;
        height: auto; }
      section#splash div.splash-container div.splash-banner .splash-title-cont {
        margin-top: 0;
        width: 100%; }
      section#splash div.splash-container div.splash-banner h1.title {
        letter-spacing: 8px;
        letter-spacing: 1vh;
        font-size: 3em;
        font-size: 8vh; }
      section#splash div.splash-container div.splash-banner h1.drag-target-H {
        display: none; }
      section#splash div.splash-container div.splash-banner h1.drag-target-A {
        display: none; }
      section#splash div.splash-container div.splash-banner h1.drag-target-C {
        display: none; }
      section#splash div.splash-container div.splash-banner h1.drag-target-K {
        display: none; }
      section#splash div.splash-container div.splash-banner h2.subtitle {
        line-height: 1.2em;
        line-height: 3.2vh;
        letter-spacing: 0;
        font-size: 1.4em;
        font-size: 3.7vh; }
        section#splash div.splash-container div.splash-banner h2.subtitle.date {
          margin-bottom: 0; }

  section.ui.page.grid.padded {
    padding-top: 10%;
    padding-bottom: 10%; }

  section#reg-now {
    min-height: 0;
    background: #c9d41b; }

  .question {
    cursor: pointer; }

  #navbar.fixed {
    position: relative; }

  section#sponsors {
    padding-left: 0;
    padding-right: 0; }
    section#sponsors img {
      padding: 1.5em 1em; }
    section#sponsors .super-plat img {
      max-width: 400px;
      max-height: 150px; }
    section#sponsors .plat img {
      max-width: 350px;
      max-height: 200px; }
    section#sponsors .gold img {
      max-width: 250px;
      max-height: 125px; }
    section#sponsors .silver img {
      max-width: 150px;
      max-height: 100px; }
    section#sponsors .bronze img {
      max-width: 125px;
      max-height: 75px; } }
@media only screen and (max-width: 480px) {
  section#splash div.splash-container div.splash-banner {
    margin-top: 0; }
    section#splash div.splash-container div.splash-banner .splash-logo-unit-cont {
      -webkit-transform: rotate(0deg);
      /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: rotate(0deg);
      /* IE 9 */
      transform: rotate(0deg);
      margin-top: 5em; }
    section#splash div.splash-container div.splash-banner .splash-img {
      -webkit-transform: rotate(0deg);
      /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: rotate(0deg);
      /* IE 9 */
      transform: rotate(0deg);
      height: 300px; }
    section#splash div.splash-container div.splash-banner .title {
      font-size: 2.8em !important;
      margin-top: 0; }
    section#splash div.splash-container div.splash-banner h2.subtitle {
      line-height: 1.2em;
      font-size: 1.4em; }
      section#splash div.splash-container div.splash-banner h2.subtitle.large {
        display: none; }
      section#splash div.splash-container div.splash-banner h2.subtitle.mobile {
        display: block; }
  section#splash div.splash-container div.splash-text .title {
    font-size: 2.8em; }

  #navbar .menu .item {
    width: 6em; }

  section h2 {
    font-size: 2.5em; }

  section#faq {
    background-color: #72d7d0; }
    section#faq h2 {
      margin-bottom: 0; }

  section#sponsors {
    padding-left: 0;
    padding-right: 0; }
    section#sponsors img {
      padding: 0.5em; }
    section#sponsors .super-plat img {
      max-width: 175px;
      max-height: 100px; }
    section#sponsors .plat img {
      max-width: 150px;
      max-height: 100px; }
    section#sponsors .gold img {
      max-width: 137.5px;
      max-height: 75px; }
    section#sponsors .silver img {
      max-width: 95px;
      max-height: 50px; }
    section#sponsors .bronze img {
      max-width: 75px;
      max-height: 37.5px; }

  section#footer #color-bars div {
    height: 32px; } }
@media only screen and (max-width: 320px) {
  section#splash div.splash-container div.splash-banner .splash-logo-unit-cont {
    -webkit-transform: rotate(0deg);
    /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    margin-top: 2em; }
  section#splash div.splash-container div.splash-banner .splash-img {
    -webkit-transform: rotate(0deg);
    /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    width: auto;
    height: auto; }
  section#splash div.splash-container div.splash-banner .title {
    font-size: 2.5em !important; }
  section#splash div.splash-container div.splash-text .title {
    font-size: 2.5em; }

  section.ui.page.grid.padded {
    padding-top: 20%;
    padding-bottom: 20%; }

  section input {
    margin: 2px auto; }

  section h2 {
    font-size: 2em;
    line-height: 1.2em; }

  section#faq .question {
    font-size: 1.3em; }

  section#splash div.splash-container {
    padding-bottom: 0em;
    display: block; }
    section#splash div.splash-container div.splash-banner h1.title {
      font-size: 1.5em; }
  section#splash div.splash-text h2.title {
    font-size: 1.5em; }

  section#footer .icon {
    width: 20px; }
  section#footer #color-bars div {
    height: 24px; } }

/*# sourceMappingURL=main.css.map */
