html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: white;
  font-size: 0.85em; }
  html.foolsday *, body.foolsday * {
    font-family: "Comic Sans MS", cursive, sans-serif !important; }
  html section, body section {
    width: 100%;
    position: relative; }
  html div, body div {
    position: relative; }

body {
  overflow-x: hidden; }

/*
 * shared classes
 */
.montserrat, .montserrat-bold {
  font-family: "Montserrat", sans-serif; }

.montserrat-bold {
  font-weight: 700; }

.lato {
  font-family: "Lato", sans-serif;
  font-weight: 600; }

.hidden {
  display: none; }

.title {
  text-transform: uppercase; }

a {
  color: #fc5454; }

a:hover {
  color: #fc3b3b; }

.black-shadow {
  text-shadow: -2px 2px 0px #0b3b4b; }

/* Ben's stuff
 * temporarily
 */
section h2 {
  font-size: 3.5em;
  letter-spacing: 5px;
  line-height: 1.3em;
  margin: 0;
  color: white; }
section p,
section label,
section input {
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 0 auto;
  display: block; }
section p {
  margin-bottom: 1em; }
section .row {
  margin-top: 0; }
section img {
  max-width: 100%; }
section input {
  padding: 10px 2%;
  width: 80%; }
section input:focus {
  outline: 0; }
section .button {
  display: inline-block;
  margin: 15px auto 0px auto;
  background-color: #ffe86b;
  padding: 0.8em 3em;
  color: #f1645d;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1em;
  text-align: center;
  border: 0;
  cursor: pointer; }
section .button:hover {
  background-color: #4ecdc4;
  color: white; }

section.ui.page.grid {
  min-width: 0; }

section.ui.page.grid.padded {
  padding-top: 5%;
  padding-bottom: 5%; }

section#splash {
  display: table;
  table-layout: fixed;
  height: inherit;
  width: 100%;
  background: url(../assets/images/paper.jpg) no-repeat center center;
  background-size: cover; }
  section#splash div.splash-container {
    font-size: 1em;
    display: table-cell;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-bottom: 3.5em; }
    section#splash div.splash-container div.splash-banner {
      width: 100%;
      margin: 0 auto 0 auto; }
      section#splash div.splash-container div.splash-banner .splash-logo-unit-cont {
        z-index: 3;
        transform: rotate(-20deg); }
      section#splash div.splash-container div.splash-banner .splash-col {
        float: left;
        width: 50%; }
      section#splash div.splash-container div.splash-banner .splash-img {
        float: right;
        height: 90vh; }
      section#splash div.splash-container div.splash-banner .splash-title-cont {
        margin-top: 50vh;
        width: 50%;
        white-space: nowrap; }
      section#splash div.splash-container div.splash-banner img {
        max-width: 1000%;
        max-height: 1000%; }
      section#splash div.splash-container div.splash-banner h1.title {
        margin: 0;
        letter-spacing: 8px;
        line-height: 1.2em;
        font-size: 3em;
        font-size: 5.5vw;
        color: #0b3b4b; }
      section#splash div.splash-container div.splash-banner h2.subtitle {
        margin: 0;
        line-height: 1.2em;
        letter-spacing: 0;
        font-size: 1.4em;
        color: #0b3b4b;
        margin-bottom: 1em; }
        section#splash div.splash-container div.splash-banner h2.subtitle.large {
          display: block; }
        section#splash div.splash-container div.splash-banner h2.subtitle.mobile {
          display: none; }
  section#splash div.splash-text {
    margin: 0 0 5px 0 !important;
    padding: 0 !important; }
    section#splash div.splash-text h2.title {
      line-height: 1.1em;
      font-size: 3em;
      font-size: 5.5vw;
      margin: 0;
      letter-spacing: 8px;
      color: #c9d41b; }
    section#splash div.splash-text h2.title:focus {
      outline: 0px solid transparent; }

#navbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 101; }
  #navbar .menu {
    background-color: #0b3b4b;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    border: 0;
    border-radius: 0; }
    #navbar .menu .item {
      width: 8em;
      padding-top: 1.2em;
      border-bottom: 4px solid transparent;
      color: white;
      font-weight: bold; }
      #navbar .menu .item.wide {
        width: 9em; }
    #navbar .menu #goto-about.item:hover {
      color: white;
      background: #0b3b4b;
      border-bottom: 3px solid #fc5454; }
    #navbar .menu #goto-faq.item:hover {
      color: white;
      background: #0b3b4b;
      border-bottom: 3px solid #4ecdc4; }
    #navbar .menu #goto-reg-now.item:hover {
      color: white;
      background: #0b3b4b;
      border-bottom: 3px solid #ffe86b; }

#navbar.fixed {
  position: fixed;
  top: 0;
  bottom: auto;
  z-index: 5; }

section#sponsors {
  background-color: #ffbc29;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px; }
  section#sponsors p {
    color: white;
    font-size: 1.4em;
    padding: 16px;
    margin: 0; }

img#techx {
  width: 100px; }

section#about {
  background: #fc5454;
  min-height: 240px;
  color: white;
  z-index: 4; }
  section#about .ui.page.grid.padded {
    padding-bottom: 5%; }
  section#about h2 {
    text-align: left; }
  section#about p.lato {
    text-align: left;
    font-size: 1.2em; }

#social a {
  text-decoration: none;
  color: #0b3b4b;
  text-align: center;
  margin: 0;
  padding-left: 5px; }
#social a:hover {
  color: #0b3b4b; }
#social .icon {
  font-size: 2em;
  text-align: center;
  margin: 0.8em 1em; }
#social .icon:hover {
  text-shadow: 0 0 3px #4ecdc4;
  cursor: pointer; }
#social a.social {
  color: #0b3b4b;
  text-decoration: none; }

section#schedule {
  background: #c9d41b;
  min-height: 80px;
  color: white; }
  section#schedule .schedule.grid {
    margin-top: 20px; }

section#faq {
  background: #4ecdc4;
  z-index: 4; }
  section#faq .column {
    text-align: left;
    margin-bottom: 1.5em; }
  section#faq .row {
    margin: 0 auto;
    border-radius: 4px;
    background-color: #72d7d0;
    padding-bottom: 1rem; }
  section#faq h2 {
    color: white;
    text-align: left;
    margin-bottom: 1em; }
  section#faq h2.large {
    display: block; }
  section#faq h2.mobile {
    display: none; }
  section#faq .question {
    color: #0b3b4b;
    font-size: 1.5em; }
  section#faq p.answer {
    color: #0b3b4b;
    font-size: 1.2em; }

section#reg-now {
  background: #ffe86b;
  min-height: 240px;
  color: #0b3b4b;
  z-index: 4; }
  section#reg-now h2 {
    color: white; }
  section#reg-now .ui.page.grid.padded {
    padding-bottom: 5%; }
  section#reg-now .reg-now-form-cont {
    padding: 2em 2em !important;
    border-radius: 4px;
    background-color: #c9d41b; }
    section#reg-now .reg-now-form-cont .thankyou {
      margin-top: 1em; }
    section#reg-now .reg-now-form-cont .reg-now-form {
      margin-top: 2em; }
      section#reg-now .reg-now-form-cont .reg-now-form .ui.button {
        background-color: #0b3b4b;
        color: white;
        width: auto; }
      section#reg-now .reg-now-form-cont .reg-now-form .ui.button:hover {
        background-color: #0e4c61; }
      section#reg-now .reg-now-form-cont .reg-now-form .ui.button:active {
        background-color: #082a35; }

/** Final stuff **/
section#sponsor {
  background: white;
  color: #c9d41b; }
  section#sponsor img {
    padding: 10px 10px; }
  section#sponsor p {
    margin-bottom: 5%; }
  section#sponsor #sponsor-email {
    color: #c9d41b;
    text-decoration: underline; }
  section#sponsor .tier {
    padding: 0 5%; }
  section#sponsor a, section#sponsor a:visited {
    text-decoration: none; }
  section#sponsor img {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    margin: 16px; }
  section#sponsor .platinum img {
    width: 44%; }
  section#sponsor #aqr {
    width: 225px;
    height: auto; }
  section#sponsor .gold img {
    width: 27.5%; }
  section#sponsor .silver img {
    width: 18.5%; }
  section#sponsor .bronze {
    padding: 2% 5%; }
  section#sponsor .bronze img {
    width: 14%; }

#footer {
  background: #fffefa;
  text-align: center;
  padding-top: 5%;
  z-index: 4; }
  #footer #footersplash {
    max-width: 300px;
    width: 60%;
    margin: 0 auto; }
    #footer #footersplash h2 {
      color: #0b3b4b;
      text-transform: uppercase; }
  #footer #color-bars {
    padding-top: 2em; }
    #footer #color-bars div {
      width: 20%;
      float: left;
      height: 3em; }
    #footer #color-bars #color-bar1 {
      background-color: #fc5454; }
    #footer #color-bars #color-bar2 {
      background-color: #4ecdc4; }
    #footer #color-bars #color-bar3 {
      background-color: #ffe86b; }
    #footer #color-bars #color-bar4 {
      background-color: #c9d41b; }
    #footer #color-bars #color-bar5 {
      background-color: #ffbc29; }

/* hiding faq */
.angle {
  display: none;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.angle-rotated {
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.answer-hidden {
  display: none; }

.question-hidden {
  margin: 0; }

#dot {
  transition: color 0.5s ease; }
  #dot:hover {
    color: #ffe86b;
    cursor: pointer; }

/* Responsive */
@media only screen and (max-width: 1000px) {
  section#about h2 {
    font-size: 3em; }

  section#faq h2.large {
    display: none; }
  section#faq h2.mobile {
    display: block; } }
@media only screen and (max-width: 767px) {
  html, body {
    font-size: 1em; }

  #navbar .menu .item {
    width: 7em;
    padding-left: 0.4em;
    padding-right: 0.4em; }

  section#splash div.splash-container {
    display: block; }
    section#splash div.splash-container div.splash-banner {
      width: 100%;
      margin-top: 2em;
      margin-top: 5.5vh; }
      section#splash div.splash-container div.splash-banner .splash-logo-unit-cont {
        transform: rotate(0deg);
        text-align: center; }
      section#splash div.splash-container div.splash-banner .splash-img {
        height: 60vh;
        float: none; }
      section#splash div.splash-container div.splash-banner .splash-col {
        float: none;
        width: 100%;
        display: block;
        text-align: center; }
      section#splash div.splash-container div.splash-banner .splash-title-cont {
        margin-top: 0;
        width: 100%; }
      section#splash div.splash-container div.splash-banner h1.title {
        letter-spacing: 8px;
        letter-spacing: 1vh;
        font-size: 3em;
        font-size: 8vh; }
      section#splash div.splash-container div.splash-banner h2.subtitle {
        line-height: 1.2em;
        line-height: 3.2vh;
        letter-spacing: 0;
        font-size: 1.4em;
        font-size: 3.7vh; }
        section#splash div.splash-container div.splash-banner h2.subtitle.date {
          margin-bottom: 0; }

  section.ui.page.grid.padded {
    padding-top: 10%;
    padding-bottom: 10%; }

  section#reg-now {
    min-height: 0;
    background: #c9d41b; }

  .question {
    cursor: pointer; }

  #navbar.fixed {
    position: relative; }

  section#sponsor {
    padding-left: 0;
    padding-right: 0; }
    section#sponsor img {
      margin: 1.5em 2em; }
    section#sponsor .platinum img {
      width: 50%; }
    section#sponsor .gold img {
      width: 37%; }
    section#sponsor .silver img {
      width: 25%; }
    section#sponsor .bronze img {
      width: 15%; } }
@media only screen and (max-width: 480px) {
  section#splash div.splash-container div.splash-banner {
    margin-top: 0; }
    section#splash div.splash-container div.splash-banner .splash-logo-unit-cont {
      transform: rotate(0deg);
      margin-top: 5em; }
    section#splash div.splash-container div.splash-banner .splash-img {
      transform: rotate(0deg);
      height: 300px; }
    section#splash div.splash-container div.splash-banner .title {
      font-size: 2.8em !important;
      margin-top: 0; }
    section#splash div.splash-container div.splash-banner h2.subtitle.large {
      display: none; }
    section#splash div.splash-container div.splash-banner h2.subtitle.mobile {
      display: block; }
  section#splash div.splash-container div.splash-text .title {
    font-size: 2.8em; }

  #navbar .menu .item {
    width: 6em; }

  section h2 {
    font-size: 2.5em; }

  section#faq {
    background-color: #72d7d0; }
    section#faq h2 {
      margin-bottom: 0; }

  section#sponsor {
    padding-left: 0;
    padding-right: 0; }
    section#sponsor img {
      margin: 1em 2em; }
    section#sponsor .platinum img {
      width: 75%; }
    section#sponsor .gold img {
      width: 65%; }
    section#sponsor .silver img {
      width: 45%; }
    section#sponsor .bronze img {
      width: 25%; } }
@media only screen and (max-width: 320px) {
  section#splash div.splash-container div.splash-banner .splash-logo-unit-cont {
    transform: rotate(0deg);
    margin-top: 2em; }
  section#splash div.splash-container div.splash-banner .splash-img {
    transform: rotate(0deg);
    width: auto;
    height: auto; }
  section#splash div.splash-container div.splash-banner .title {
    font-size: 2.5em !important; }
  section#splash div.splash-container div.splash-text .title {
    font-size: 2.5em; }

  section.ui.page.grid.padded {
    padding-top: 20%;
    padding-bottom: 20%; }

  section input {
    margin: 2px auto; }

  section h2 {
    font-size: 2em;
    line-height: 1.2em; }

  section#faq .question {
    font-size: 1.3em; }

  section#splash div.splash-container {
    padding-bottom: 0em;
    display: block; }
    section#splash div.splash-container div.splash-banner h1.title {
      font-size: 1.5em; }
  section#splash div.splash-text h2.title {
    font-size: 1.5em; }

  section#sponsor {
    padding-left: 0;
    padding-right: 0; }
    section#sponsor img {
      margin: 1em; }
    section#sponsor .platinum img {
      width: 75%; }
    section#sponsor .gold img {
      width: 65%; }
    section#sponsor .silver img {
      width: 45%; }
    section#sponsor .bronze img {
      width: 30%; }

  section#footer .icon {
    width: 20px; }
  section#footer #color-bars div {
    height: 1.5em; } }
