html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #fafafa; }
  html section, body section {
    width: 100%;
    position: relative; }
  html div, body div {
    position: relative; }

/*
 * shared classes
 */
.montserrat, .montserrat-bold {
  font-family: "Montserrat" sans-serif; }

.montserrat-bold {
  font-weight: 700; }

.lato {
  font-family: "Lato" sans-serif;
  font-weight: 400; }

.hidden {
  display: none; }

.title {
  text-transform: uppercase; }

a {
  color: #ffe552; }

/* Ben's stuff 
 * temporarily
 */
section#splash,
section#register {
  min-height: 100%; }
  section#splash div.splash-container,
  section#register div.splash-container {
    height: 100%;
    padding-bottom: 100px;
    padding-top: 10vh;
    margin: 0; }
  section#splash div.splash-banner,
  section#register div.splash-banner {
    font-size: 1em;
    margin-bottom: 0; }
    section#splash div.splash-banner img,
    section#register div.splash-banner img {
      max-width: 100%; }
    section#splash div.splash-banner img.logo,
    section#register div.splash-banner img.logo {
      position: absolute;
      width: 13vw;
      height: 13vw;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }
    section#splash div.splash-banner h1.title,
    section#register div.splash-banner h1.title {
      position: absolute;
      margin: 0;
      left: 1vw;
      right: 0;
      bottom: 0;
      font-size: 4em;
      letter-spacing: 8px;
      line-height: 1.1em;
      font-size: 6.5vw;
      color: #fafafa; }
  section#splash div.splash-text,
  section#register div.splash-text {
    margin: 0 0 5px 0 !important;
    padding: 0 !important; }
    section#splash div.splash-text h2.title,
    section#register div.splash-text h2.title {
      line-height: 1.1em;
      font-size: 6.5vw;
      margin: 0;
      margin-left: 1vw;
      letter-spacing: 8px;
      color: #473899; }
    section#splash div.splash-text h2.title:focus,
    section#register div.splash-text h2.title:focus {
      outline: 0px solid transparent; }

#navbar {
  position: absolute;
  bottom: 0;
  width: 100%; }
  #navbar .menu {
    background-color: #ffe552;
    font-family: "Montserrat" sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    border: 0; }
    #navbar .menu .item {
      width: 8em;
      padding-top: 1.2em;
      border-bottom: 4px solid transparent;
      color: #473899;
      font-weight: bold; }
    #navbar .menu .item:hover {
      background: #e76482;
      border-bottom: 3px solid #4c82cc; }

div.divider {
  height: 3em;
  background-image: url("/assets/images/hack-logo-tile.svg");
  background-position: center;
  background-repeat: repeat-x;
  background-color: #e76482; }

.divider.blue {
  background-color: #4c82cc; }

.divider.deeppurple {
  background-color: #473899;
  background-image: url("/assets/images/hack-logo-tile-magenta.svg"); }

.divider.yellow {
  background-color: #e76482;
  background-image: url("/assets/images/hack-logo-tile-yellow.svg"); }

section h2 {
  font-size: 3em;
  letter-spacing: 5px;
  line-height: 1.2em;
  margin: 0; }
section p {
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 0; }
section .row {
  margin-top: 0; }

section.ui.page.grid.padded {
  padding-top: 5%;
  padding-bottom: 7%; }

section#blurb {
  background: #e76482;
  min-height: 240px;
  color: #fafafa; }

section#schedule {
  background: #473899;
  min-height: 80px;
  color: #fafafa; }

section#faq {
  background: #4c82cc; }
  section#faq .column {
    text-align: left;
    margin-bottom: 1.5em; }
  section#faq .row {
    margin: 0 auto; }
  section#faq h2 {
    color: #fafafa;
    text-align: center;
    margin-bottom: 0; }
  section#faq .question {
    color: #ffe552;
    font-size: 1.5em; }
  section#faq p.answer {
    color: #fafafa; }

section#sponsor {
  background: #e76482;
  min-height: 80px;
  color: #fafafa; }

/** Other stuff **/
section#register div.splash-container {
  padding-top: 100px; }
section#register div.splash-banner {
  margin-top: 0; }
  section#register div.splash-banner h1.title {
    top: 0;
    bottom: auto; }
section#register div.splash-text {
  margin: 5px 0 0 0 !important; }

section#footer {
  width: 100%;
  padding: 40px 0;
  height: 40px;
  text-align: center;
  margin-top: -60px;
  color: #473899; }
  section#footer a.social {
    text-decoration: none;
    margin: 0 8px;
    color: #473899; }
    section#footer a.social .icon:hover {
      text-shadow: 0 0 3px deeppurple;
      cursor: pointer; }

/* Mobile */
@media only screen and (max-width: 480px) {
  body {
    background: none; }

  .content {
    top: 13%;
    width: 90%;
    padding: 0 5%; }

  .title {
    font-size: 1em; }

  .tagline,
  .information {
    font-size: .45em; }

  .description {
    font-size: .45em;
    margin-top: 35px; }

  .sponsorship {
    font-size: 0.3em;
    margin-top: 40px; }

  .techx {
    margin-top: 25%; } }
@media only screen and (max-width: 320px) {
  body {
    background: none; }

  .bg {
    background-image: linear-gradient(to bottom right, #0099CC, #669900); }

  .content {
    top: 8%;
    width: 90%;
    padding: 0 5%; }

  .title {
    font-size: .75em; }

  .tagline,
  .information {
    font-size: .4em; }

  .description {
    font-size: .4em;
    margin-top: 25px; }

  .sponsorship {
    font-size: 0.3em;
    margin-top: 30px; }

  .techx {
    margin-top: 25%; } }

/*# sourceMappingURL=main.css.map */
